#	$NetBSD$

# Assumption - boot.cfg loads this ramdisk.
# Assumption - The needed kernel modules (msdos, solaris, and zfs) are either
#              on this ramdisk or loaded by boot.cfg.
# Assumption - The root pool has mountpoint=legacy set.

#
# XXX: Can these be set in boot.cfg?  Or should we read them from /efi?
#
rpool="rpool"
rdataset="ROOT/default"

export PATH=/sbin:/bin:/usr/sbin:/usr/bin
export HOME=/
export TERM=wsvt25
export BLOCKSIZE=1k
export EDITOR=ed

umask 022

echo "Mounting /boot read-only."
mount -o ro NAME=boot /boot || exit 1

echo "Running cgdconfig..."
cgdconfig -C || exit 1
umount /boot

echo "Importing $rpool."
zpool import -f -N "$rpool" || exit 1

echo "Mounting $rpool/$rdataset to /altroot."
mount_zfs "$rpool/$rdataset" /altroot || exit 1

echo "Booting into /altroot..."
sysctl -w init.root=/altroot
